*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.header-2{
	display: flex;
	background-color: #03bb85;
	width: 100%;
	border-bottom: 3px solid #7fffd4;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 0 15px;
	height: 80px;
	z-index: 9999;
}
.header-2 input{
	padding: 7px;
	border-radius: 100px;
	width: 225px;
}
.menu ul li{
	margin-left: 15px;
	list-style-type: none;
	height: 10px;
	font-family: "Trebuchet MS", arial;
}
.menu ul li a:hover {
	color: #7fffd4;
	font-weight: bold;
	border-bottom: 1px solid #7fffd4;
}
.menu li{
	list-style-type: none;
	display: inline-block;
}
.menu ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
}
.busca{
	width: 20%;
	float: right;
}
.vereadores-lista{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*align-items: center;*/
	/*background-color: red;*/
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	padding: 130px 0;
}
.listafotos{
	margin-left: 5%;
	width: 100%;
	height: auto;
	flex-wrap: wrap;


}
.ListaCompleta{
	display: inline-block;
	justify-content: center;
	flex-direction: center;
	background-color: #ffb230;
	color: #ffffff;
	width: 200px;
	height: 30px;
	text-align: center;
	text-underline-position: center;
	font-weight: bold;
	font-size: 15px;
	margin-left: 45%;
	border-radius: 2%;
	vertical-align: middle;
}
#AA{
	display: flex;
	justify-content: flex-start;
	justify-content: flex-start;
}
.noticias-lista{
	width: 100%;
	height: 500px;
}
.dashboard-lista{
	width: 100%;
	height: 500px;
}
.rodape-lista{
	border-top: 3px solid #7fffd4;
	background-color: rgb(38,38,38);
	width: 100%;
	height: 300px;

}
img{
	margin-top: 15px;
}
input{
	width: 200px;
	background-color: #008f5f;
	color: #000000;
}
::-webkit-input-placeholder {
   color: #000000;
   font-family: FontAwesome, "Trebuchet MS";
   text-align:left; 
}
:-moz-placeholder { /* Firefox 18- */
   color: #000000;
   font-family: FontAwesome, "Trebuchet MS";
   text-align:left;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color:  #000000;  
}
 
:-ms-input-placeholder {  
   color:  #000000;  
}
/* perfil vereador */

.lista{
	position: relative;
	top: 12.5%;
	height: 88%;
	width: 25%;
	position: fixed;
	padding: 0 15px 0 15px;
	border-right: 1px solid #C0C0C0;
	align-items: center;
}
.mensagem1{
	height: 10%;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.busca2{
	padding-top: 5px;
	width: 100%;
	align-items: center;
}
.perfil{
	background-color: rgb(245, 245, 245);
	padding: 9px;
	border-radius: 100px;
	width: 250px;
	padding-top:7px;
    color: #000000;
}

.visao{
	position: absolute;
	top: 12.5%;
	height: 88%;
	width: 25%;
	right: 0;
	position: fixed;
	padding: 0 15px 0 15px;
	border-left: 1px solid #C0C0C0;
	align-items: center;
}
.foto{
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.nome{
	height: 5%;
	width: 105%;
	text-align: center;
	padding-top: 20px;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 30px;
	font-weight: bold;
}
.dadosPessoais{
	padding-top: 30px;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	cursor:pointer;
}
.plenario{
	padding-top: 30px;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	cursor:pointer;
}
.deshboardPerfil{
	padding-top: 30px;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	cursor:pointer;
}
.projetos{
	padding-top: 30px;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	cursor:pointer;
}
.comentarios{
	padding-top: 30px;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	cursor:pointer;
}
.dadosv{
	position: absolute;
	top:20%;
	left:29%;
	height: 80%;
	width: 43%;
	z-index: -1;
}

.barravereadores{
	background-color: red;
}

/* perfil prefeito */
.dadosPrefeito{
	position: absolute;
	top: 12.5%;
	height: 88%;
	width: 25%;
	left: 0;
	position: fixed;
	padding: 0 15px 0 15px;
	border-right: 1px solid #C0C0C0;
	align-items: center;
}
.titulo{
	position: absolute;
	top: 12.5%;
	height: 5%;
	left: 27.3%;
	width: 71%;
	position: fixed;
	padding: 0 15px 0 15px;
	padding-top: 15px;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	border-bottom: 1px solid #C0C0C0;
	color: rgb(168, 168, 168);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
}
.dados{
	position: absolute;
	top:20%;
	height: 80%;
	width: 70%;
	right: 0;
}
.bloco1{
	top: 5%;
	width: 100%;
	color: rgb(255, 178, 41);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-align: justify;
}
.descricao{
	color: #6c6c6c;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 16px;
	margin-right: 4%;
	font-weight: normal;
}

.bloco2{
	width: 100%;
	color: rgb(255, 178, 41);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
.bloco3{
	width: 100%;
	color: rgb(255, 178, 41);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
.bloco4{
	width: 100%;
	color: rgb(255, 178, 41);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
.bloco5{
	width: 100%;
	color: rgb(255, 178, 41);
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
*/
/* pop up - relatorio */
#bg{
	width: 100%;
	height: 100%;
	top:0;
	background-color: rgba(0,0,0, .8);
	position: fixed;
	display: none;
}
#bg:target{
	display: block;
}
#bg:target ~ .box{
	top: 150px;
	transition: all .3s;
	transition-delay: .2s;
}
.box{
	background-color: #ffffff;
	width: 750px;
	height: 450px;
	position: absolute;
	margin-left:-360px;
	left:50%;
	top:-510px;
	border: 1px solid #C0C0C0;
}
#close{
	display: flex;
	justify-content: center;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 20px;
	text-align: center;
	right: 0;
    font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
    font-size: 20px;
    color: #03bb85;
}
#close:hover{
	opacity: .7;
}
.tituloRel{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	color: #03bb85;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 25px;
	font-weight: bold;
}
p{
	text-align: center;
	padding-top: 20px;
	color: #c0c0c0;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
}

.tipo{
	padding-top: 5%;
	display: flex;
	justify-content: center;
}

select{
	display: flex;
	justify-content: center;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	background-color: #dcdcdc;
	height: 30px;
	width:150px;
	border-radius: 7px;
	align-items: center;
}
.classi{
	padding-top: 6%;
	padding-left: 10%;
}

.periodo{
	padding-top: 2%;
	padding-left: 10%;
	width: 150px;
}
#peri1{
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	background-color: #dcdcdc;
	border-radius: 7px;
	height: 30px;
	width: 150px;
}
#peri2{
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	background-color: #dcdcdc;
	border-radius: 7px;
	height: 30px;
	width: 150px;
}
label{
	padding-top: 5px;
	padding-bottom:  5px;
	display: flex;
	justify-content: center;
	color: #c0c0c0;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
}
.rela{
	display: flex;
	justify-content: flex-end;
	width: 700px;
}
#rela{
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 15px;
	background-color: rgb(255, 178, 41);
	color: #ffffff;
	border-radius: 7px;
	height: 30px;
	width: 150px;
	cursor: pointer;
	margin-top: 40px;
}
.mensagem2 {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 5px;
	font-size: 14px;
	color: #c0c0c0;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
}
/* pop up - servidor */
#bg-2{
	width: 100%;
	height: 100%;
	top:0;
	background-color: rgba(0,0,0, .8);
	position: fixed;
	display: none;
}
#bg-2:target{
	display: block;
}
#bg-2:target ~ .box-2{
	top: 150px;
	transition: all .3s;
	transition-delay: .2s;
}
.box-2{
	background-color: #ffffff;
	width: 900px;
	height: 500px;
	position: absolute;
	margin-left:-360px;
	left:50%;
	top:-510px;
	border: 1px solid #C0C0C0;
}

#close-2{
	display: flex;
	justify-content: center;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 20px;
	text-align: center;
	right: 0;
    font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
    font-size: 20px;
    color: #03bb85;
}
#close-2:hover{
	opacity: .7;
}
.tituloSer{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	color: #03bb85;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.segura{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1500px;
}
.toticias{
	display: flex;
	padding-top: 30px;
	padding-left: 20px;
	color: #03bb85;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.titulonoticia{
	display: flex;
	padding-top: 30px;
	padding-left: 30px;
	color: #6c6c6c;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
.corponoticia{
	display: flex;
	justify-content: center;
	position: center;
	padding-top: 10px;
	padding-left: 30px;
	width: 85%;
	color: #6c6c6c;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 16px;
	text-align: justify;
}
.linknoticia{
	display: flex;
	padding-top: 5px;
	padding-left: 30px;
	color: #c0c0c0;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	font-size: 13px;
}
.FATEC{
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
	margin-top: 13%;
	font-size: 20px;
	color: #ffffff;
	font-family: "Ode to Idle Gaming", Arial, Tahoma, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.quemsomos{
	display: flex;
	justify-content: space-around;
	width: 40%;
	margin-top: -12%;
	margin-left: 2%;
	font-size: 17px;
	color: #ffffff;
	font-family: "Ode to Idle Gaming", Arial, Tahoma, sans-serif;
	text-align: justify;
}
.alunos{
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: -17%;
	margin-left: 60%;
	font-size: 17px;
	color: #ffffff;
	font-family: "Ode to Idle Gaming", Arial, Tahoma, sans-serif;
}
.email{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.direitos{
	display: block;
	justify-content: center;
	margin-top: 4%;
	font-size: 12px;
	color: #ffffff;
	font-family: "Ode to Idle Gaming", Arial, Tahoma, sans-serif;
	text-align: center;
}
#email{
	margin: 0 15px 0 0;
	width: 16px;
	height: 16px;
}
.nomealuno{
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

.linkemail{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	color:#111;
	text-decoration:none;
}

.foto-vereadores{
	width: 150px;
	height: 150px;
	background-color: green;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border:3px solid #ffb230;
}

#foto1{
	background-image: url('../imgs/FotoVereadores/antonio.jpg');
}

#foto2{
	background-image: url('../imgs/FotoVereadores/benedito.jpg');
}

#foto3{
	background-image: url('../imgs/FotoVereadores/caio.jpg');
}

#foto4{
	background-image: url('../imgs/FotoVereadores/carlos.jpg');
}